[submodule "source/git/PageIndex_VectifyAI"]
	path = source/git/PageIndex_VectifyAI
	url = https://github.com/VectifyAI/PageIndex.git
[submodule "source/git/CatchMe_HKUDS"]
	path = source/git/CatchMe_HKUDS
	url = https://github.com/HKUDS/CatchMe.git
[submodule "source/git/Memora_microsoft"]
	path = source/git/Memora_microsoft
	url = https://github.com/microsoft/Memora.git
[submodule "source/git/openclaw_openclaw"]
	path = source/git/openclaw_openclaw
	url = https://github.com/openclaw/openclaw.git
[submodule "source/git/hermes-agent_NousResearch"]
	path = source/git/hermes-agent_NousResearch
	url = https://github.com/NousResearch/hermes-agent.git
[submodule "source/git/Draft-OPD_bingyang-lei"]
	path = source/git/Draft-OPD_bingyang-lei
	url = https://github.com/bingyang-lei/Draft-OPD.git
[submodule "source/git/agent-workflow-memory_zorazrw"]
	path = source/git/agent-workflow-memory_zorazrw
	url = https://github.com/zorazrw/agent-workflow-memory.git
[submodule "source/git/ReflectWorld_addxai"]
	path = source/git/ReflectWorld_addxai
	url = https://github.com/addxai/ReflectWorld.git
[submodule "source/git/InMind_imlrz"]
	path = source/git/InMind_imlrz
	url = https://github.com/imlrz/InMind.git
[submodule "source/git/LMLM_kilian-group"]
	path = source/git/LMLM_kilian-group
	url = https://github.com/kilian-group/LMLM.git
[submodule "source/git/KBLaM_microsoft"]
	path = source/git/KBLaM_microsoft
	url = https://github.com/microsoft/KBLaM.git
[submodule "source/git/Caskg_ZhiyuanLi218"]
	path = source/git/Caskg_ZhiyuanLi218
	url = https://github.com/ZhiyuanLi218/Caskg.git
[submodule "source/git/CaRGo-T_abhi1nandy2"]
	path = source/git/CaRGo-T_abhi1nandy2
	url = https://github.com/abhi1nandy2/CaRGo-T.git
[submodule "source/git/Recuris_Gen-Verse"]
	path = source/git/Recuris_Gen-Verse
	url = https://github.com/Gen-Verse/Recuris.git
